.banner {
	padding-top: 70px;
	padding-bottom: 25px;
	background-color: #e9ecef;
	border-radius: .3rem;
}

@media (max-width:540px) {
	.banner {
        padding-top: 7rem;
    }
	.img {
		margin: 15 15% 0 25%;
	}
	.col-md-4 {
		margin: 0 10% 5% 16%;
	}
	.col-md-8 h3 {
		font-size: 1rem;
	}
	.banner h1 {
		font-size: 1.3rem;
	}
}

@media (max-width:720px) {
	.banner {
		padding-top: 5rem;
	}
	.img,
	.col-md-4 {
		margin: 0 10% 5% 16%;
	}
}

.text-center {
	text-align: center;
}

.title {
	text-align: center;
	font-family: fantasy;
}

.col-md-8 p {
	font-family: sans-serif;
}


/* Make the image fully responsive */

.carousel-inner img {
	width: 100%;
	height: 100%;
}

html {
	scroll-behavior: smooth;
}

body {
	position: relative;
}

#About_me {
	background: #ffffff;
	height: auto;
	padding-top: 70px;
	padding-bottom: 70px;
}

#Education {
	background: #f0f0f05d;
	height: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

#Hobbies {
	background: #ffffff85;
	height: auto;
	padding-top: 70px;
	padding-bottom: 70px;
}

footer {
	display: table;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}
