
.jumbotron{
    padding:2rem 1rem;
    margin-bottom:2rem;
    background-color:#e9ecef;
    border-radius:.3rem;
}
@media (max-width:540px){
    .jumbotron{
        padding:4rem 2rem;
    }
    .img{
    margin: 15 15% 0 25%;      
    }
    .col-md-4{
        margin: 0 10% 5% 16%;
    }
    .col-md-8 h3{
        font-size:1rem; 
    }  
}
@media (max-width:720px){
    .jumbotron{
        padding:4rem 2rem;
    }
    .img, .col-md-4{
        margin: 0 10% 5% 16%;
    }
}
.jumbotron-fluid{
    padding-right:0;
    padding-left:0;
    border-radius:0;
} 
.text-center{
    text-align:center;
}

.title{
    text-align: center;
    font-family:fantasy;
}

.col-md-8 p{
    font-family:sans-serif;
}

/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
}
html {
    scroll-behavior: smooth;
  }
body {
    position: relative; 
  }
